{% extends '@ShopsysFramework/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
    {{ 'Nebyly nalezeny žádné kombinace pro SEO kategorií.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'readyCategorySeoMixs'|trans %}
    {{ parent() }}
{% endblock %}

{% block grid_value_cell_id_parameters %}

    {% for parameterNameParameterValuePair in getReadyCategoryMixCombinationParametersPairsIterator(row.choseCategorySeoMixCombinationJson) %}
        {{ parameterNameParameterValuePair }}<br>
    {% endfor %}

{% endblock %}


{% block grid_value_cell_id_ordering %}
    {{ getOrderingNameByOrderingId(row.ordering) }}
{% endblock %}

{% block grid_value_cell_id_friendlyUrlSlug %}
    <a href="{{ getAbsoluteUrlOfReadyCategorySeoMix(row.rcsmId) }}" target="_blank">{{ row.fuSlug }}</a>
{% endblock %}
