{% extends '@!ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Rozšířené SEO kategorií'|trans }}{% endblock %}
{% block h1 %}{{ 'Rozšířené SEO kategorií'|trans }}{% endblock %}

{% block btn %}
    <a href="{{ url('admin_categoryseo_newcategory') }}" class="btn btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>{{ 'Vytvořit'|trans }}
    </a>
{% endblock %}

{% block main_content %}

    {{ render(controller('Shopsys\\FrameworkBundle\\Controller\\Admin\\DomainController::domainTabsAction')) }}

    {{ gridView.render() }}

{% endblock %}
