{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}

{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}

{% set domain = getDomain() %}
{% set descriptionHeadline = 'Product information'|trans %}
{% set parametersHeadline = 'Technical parameters'|trans %}
{% set accessoriesHeadline = 'Accessories'|trans %}

{% block meta_description %}
    {{- productView.seoMetaDescription -}}
{% endblock %}

{% block title %}
    {{ productView.seoPageTitle }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container">
            <div itemscope itemtype="http://schema.org/Product">
                <div class="box-detail">
                    <div class="box-detail__image">
                        {% set showGallery = productView.galleryImageViews|length > 1 %}
                        <div class="box-detail__image__main">
                            {% if productView.mainImageView %}
                                <a href="{{ imageUrl(productView.mainImageView, 'original') }}"
                                   class="{{ showGallery ? 'js-gallery-main-image' : 'js-popup-image' }}">
                                    {{ image(productView.mainImageView, { alt: productView.name, itemprop: 'image' }) }}
                                </a>
                            {% else %}
                                {{ noimage({ alt: productView.name }) }}
                            {% endif %}
                        </div>
                        {{ renderFlagsByIds(productView.flagIds) }}

                        {% if showGallery %}
                            <div class="box-gallery dont-print js-gallery">
                                <span class="box-gallery__arrow box-gallery__arrow--prev js-gallery-prev">
                                    <i class="svg svg-arrow"></i>
                                </span>
                                <div class="box-gallery__in js-gallery-slides">
                                    {% for galleryImage in productView.galleryImageViews %}
                                        <div class="box-gallery__item">
                                            <a href="{{ imageUrl(galleryImage, 'original') }}"
                                               class="box-gallery__item__link js-gallery-slide-link">
                                                {{ image(galleryImage, {size: 'galleryThumbnail', lazy: false}) }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <span class="box-gallery__arrow box-gallery__arrow--next js-gallery-next">
                                    <i class="svg svg-arrow"></i>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="box-detail__info">
                        <h1 itemprop="name">
                            {{ productView.name }}
                        </h1>

                        <div class="box-detail__info__availability">
                            {% if not productView.isSellingDenied %}
                                {{ productView.availability }}
                            {% else %}
                                {{ 'Product no longer on sale'|trans }}
                            {% endif %}
                        </div>

                        {% if not productView.isMainVariant %}
                            <div class="js-product-detail-main-add-to-cart-wrapper box-detail-add">
                                {% if not productView.isSellingDenied %}
                                    <div itemprop="offers"
                                         itemscope
                                         itemtype="http://schema.org/Offer"
                                         class="box-detail-add__prices">
                                        <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
                                            {{ productView.sellingPrice.priceWithVat|price }}
                                        </div>
                                        <div class="box-detail-add__prices__item">
                                            {{ productView.sellingPrice.priceWithoutVat|price }} {{ 'excluding VAT'|trans }}
                                        </div>
                                        <meta itemprop="priceCurrency"
                                              content="{{ currencyCode(domain.id) }}"
                                        >
                                        <meta itemprop="price"
                                              content="{{ productView.sellingPrice.priceWithVat|moneyFormat }}"
                                        >
                                        <link itemprop="availability"
                                              href="{{ productView.isInStock ? 'http://schema.org/InStock' : 'http://schema.org/OutOfStock' }}"
                                        >
                                    </div>
                                    {{ render(controller('App\\Controller\\Front\\CartController:productActionAction', { productActionView: productView.actionView, type: 'large'} )) }}
                                {% else %}
                                    <div>
                                        {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productView.mainCategoryId })}) }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% apply spaceless %}
                            <dl class="box-detail__info__params">
                                {% if productView.brandView %}
                                    <dt>
                                        {{ 'Brand'|trans }}:
                                    </dt>
                                    <dd>
                                        <a href="{{ productView.brandView.mainUrl }}">
                                            <span itemprop="brand">{{ productView.brandView.name }}</span>
                                        </a>
                                    </dd>
                                {% endif %}

                                {% if not productView.isMainVariant %}
                                    {% if productView.catnum %}
                                        <dt>
                                            {{ 'Catalog number'|trans }}:
                                        </dt>
                                        <dd>
                                            {{ productView.catnum }}
                                        </dd>
                                    {% endif %}

                                    {% if productView.partno %}
                                        <dt>
                                            {{ 'Serial number'|trans }}:
                                        </dt>
                                        <dd>
                                            {{ productView.partno }}
                                        </dd>
                                    {% endif %}

                                    {% if productView.ean %}
                                        <dt>
                                            {{ 'EAN'|trans }}:
                                        </dt>
                                        <dd>
                                            {{ productView.ean }}
                                        </dd>
                                    {% endif %}
                                {% endif %}
                            </dl>
                        {% endapply %}
                    </div>
                </div>

                {% if variants and not productView.isSellingDenied %}
                    <table {% if productView.sellingPrice is not null %}itemprop="offers"
                           itemscope
                           itemtype="http://schema.org/AggregateOffer" {% endif %}
                           class="table-variants"
                    >
                        <thead>
                            <tr class="table-variants__row">
                                <th class="table-variants__cell table-variants__cell--image"></th>
                                <th class="table-variants__cell table-variants__cell--name">{{ 'Name'|trans }}</th>
                                <th class="table-variants__cell">{{ 'Availability'|trans }}</th>
                                <th class="table-variants__cell table-variants__cell--price">
                                    {{ 'Price including VAT'|trans }}
                                    {% if productView.sellingPrice is not null %}
                                        <meta itemprop="priceCurrency"
                                              content="{{ currencyCode(domain.id) }}"
                                        >
                                        <meta itemprop="lowPrice"
                                              content="{{ productView.sellingPrice.priceWithVat|moneyFormat }}"
                                        >
                                        <link itemprop="availability"
                                              href="{{ productView.isInStock ? 'http://schema.org/InStock' : 'http://schema.org/OutOfStock' }}"
                                        >
                                    {% endif %}
                                </th>
                                <th class="table-variants__cell table-variants__cell--action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for variant in variants %}
                                <tr class="table-variants__row">
                                    <td class="table-variants__cell table-variants__cell--image">
                                        <div class="table-variants__cell__image">
                                            {% if variant.image %}
                                                <a href="{{ imageUrl(variant.image, 'original') }}" class="js-popup-image">
                                                    {{ image(variant.image, { size: 'thumbnail' }) }}
                                                </a>
                                            {% else %}
                                                {{ noimage() }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="table-variants__cell table-variants__cell--name">
                                        {{ variant.name}}
                                    </td>
                                    <td class="table-variants__cell">
                                        {{ variant.availability }}
                                    </td>
                                    <td class="table-variants__cell table-variants__cell--price">
                                        {{ variant.sellingPrice.priceWithVat|price }}
                                    </td>
                                    <td class="table-variants__cell table-variants__cell--action">
                                        {{ render(controller('App\\Controller\\Front\\CartController:productActionAction', {productActionView: variant.action})) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if productView.description or productView.parameterViews or accessories|length > 0 %}
                    <div class="in-tab js-responsive-tabs">
                        <div class="in-tab__head dont-print">
                            {% if productView.description %}
                                <a href="#" class="in-tab__head__item js-tabs-button active" data-tab-id="description">
                                    {{ descriptionHeadline }}
                                </a>
                            {% endif %}

                            {% if accessories|length > 0 %}
                                <a href="#" class="in-tab__head__item js-tabs-button" data-tab-id="accessories">
                                    {{ accessoriesHeadline }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="in-tab__content">
                            {% if productView.description or productView.parameterViews %}
                                <a href="#" class="in-tab__content__title js-tabs-button active" data-tab-id="description">
                                    {{ descriptionHeadline }}
                                    <i class="svg svg-arrow"></i>
                                </a>
                                <div class="in-tab__content__item js-tabs-content active" data-tab-id="description">
                                    <div class="in-user-text" itemprop="description">
                                        {% if productView.description %}
                                            <p>
                                                {{ productView.description|raw }}
                                            </p>
                                        {% endif %}
                                        {% if productView.parameterViews %}
                                            <div class="h3">{{ parametersHeadline }}</div>
                                            <table class="table-params{% if productView.description %} margin-top-20{% endif %}">
                                                <tbody>
                                                    {% for parameter in productView.parameterViews %}
                                                        <tr>
                                                            <th>
                                                                {{ parameter.name }}
                                                            </th>
                                                            <td>
                                                                {{ parameter.valueText }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if accessories|length > 0 %}
                                <a href="#" class="in-tab__content__title js-tabs-button" data-tab-id="accessories">
                                    {{ accessoriesHeadline }}
                                    <i class="svg svg-arrow"></i>
                                </a>
                                <div class="in-tab__content__item js-tabs-content" data-tab-id="accessories">
                                    {{ productList.list(accessories) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
