{% macro openingHoursRow(openingHours, index) %}
    <tr class="js-opening-hours-item js-form-group table-form__row" data-index="{{ index }}">
        <td class="table-form__cell table-form__cell--del-before">
            <div class="input__wrap">
                {{ form_widget(openingHours, { attr: { class: "opening-hours-widget" } }) }}
                {{ form_errors(openingHours) }}
            </div>
        </td>
        <td class="table-form__cell table-form__cell--actions">
            <a href="#" class="js-opening-hours-item-remove table-form__action"><i class="svg svg-delete-thin in-icon"></i></a>
        </td>
    </tr>
{% endmacro %}

{% block _store_form_openingHours_entry_widget %}
    {% import _self as self %}
    <div class="js-form-group form-group js-opening-hours-form-group">
        <table class="table-form" id="opening-hours">
            <tbody class="js-opening-hours" data-prototype="{{ self.openingHoursRow(form.vars.prototype)|escape }}" data-index="{{ form|length }}">

            {% for key, openingHours in form %}
                {{ self.openingHoursRow(openingHours, key) }}
            {% else %}
                {% do form.setRendered %}
            {% endfor %}
            </tbody>
        </table>
        <div class="form-line form-line--no-top-border">
            <div class="form-line__line form-line__line--no-space">
                <a href="#" class="js-opening-hours-item-add btn btn--plus margin-left-10">
                    <i class="btn__icon">+</i>
                    {{ 'Add opening hours'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock _store_form_openingHours_entry_widget %}
