{% block products_widget %}
    {% import _self as self %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' js-products-picker')|trim}) %}
    <div
            {{ block('widget_attributes') }}
            data-products-picker-prototype="{{ self.productsWidgetItem(null, form.vars.prototype, form.vars.sortable)|e }}"
            data-products-picker-url="{{ url('admin_productpicker_pickmultiple', {jsInstanceId: '__js_instance_id__', allowMainVariants: allow_main_variants, allowVariants: allow_variants}) }}"
            data-products-picker-main-product-id="{{ form.vars.main_product ? form.vars.main_product.id : '' }}"
    >
        <table class="table-form">
            <thead class="js-products-picker-header">
            <tr class="table-form__row">
                <td class="table-form__cell">{{ 'Name'|trans }}</td>
                <td class="table-form__cell table-form__cell--actions"></td>
            </tr>
            </thead>
            <tbody class="js-products-picker-items">
            {% for key, productForm in form %}
                {{ self.productsWidgetItem(form.vars.products[key], productForm, form.vars.sortable, disabled) }}
            {% endfor %}
            </tbody>
        </table>
        {%- if disabled == false %}
            <div class="form-line form-line--no-top-border">
                <div class="form-line__line form-line__line--no-space">
                    <a href="#" class="btn btn--plus js-products-picker-button-add">
                        <i class="btn__icon">+</i>
                        {{ label_button_add }}
                    </a>
                </div>
            </div>
        {% endif -%}
    </div>
{% endblock products_widget %}

{% macro productsWidgetItem(product, form, sortable, disabled) %}
    <tr class="js-products-picker-item table-form__row">
        <td class="table-form__cell">
            {% if sortable %}
                <span class="js-products-picker-item-handle table-form__cell__move">
                    <span class="in-icon in-icon--move svg svg-move"></span>
                </span>
            {% endif %}
            <span class="js-products-picker-item-product-name">
                {% if product is not null %}
                    <a href="{{ url('admin_product_edit', {id: product.id}) }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
                        <span>{{ product.name }}</span>&nbsp;{{ icon('forward-page') }}
                    </a>
                {% endif %}
            </span>
        </td>
        <td class="table-form__cell table-form__cell--actions">
            {%- if disabled == false %}
                <span class="cursor-pointer js-products-picker-item-button-delete">
                    <span class="svg svg-delete-thin in-icon"></span>
                    {{ form_widget(form, {attr: {class: 'js-products-picker-item-input'}}) }}
                </span>
            {% endif -%}
        </td>
    </tr>
{% endmacro %}
