{% block _product_form_stocksGroup_stockProductData_widget %}
    <div class="js-form-group form-group" id="{{ form.vars.id }}">
            <table class="table-form" id="product_form_parameters">
                <thead>
                <tr class="table-form__row">
                    <th class="table-form__cell table-form__cell--label">{{ 'Warehouse'|trans }}</th>
                    <th class="table-form__cell">{{ 'In stock'|trans }}</th>
                </tr>
                </thead>
                <tbody data-index="{{ form|length }}">
                {% for quantityForm in form %}
                    <tr class="js-form-group table-form__row">
                        <td class="table-form__cell table-form__cell--del-before">
                            {{ form_label(quantityForm.productQuantity, quantityForm.vars.value.name) }}
                            {{ form_errors(quantityForm.productQuantity, { errors_attr: { class: 'table-form__cell__error' } } ) }}
                        </td>
                        <td class="table-form__cell">
                            {{ form_widget(quantityForm.productQuantity) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

    {% do form.setRendered() %} {# When any stock does not exist, form is not rendered #}
{% endblock %}
