{% block _store_form_openingHours_widget %}
    {% set dayNames = [
        'Monday'|trans,
        'Tuesday'|trans,
        'Wednesday'|trans,
        'Thursday'|trans,
        'Friday'|trans,
        'Saturday'|trans,
        'Sunday'|trans,
    ] %}

    <div class='form-line__side'>
        <div class='flex-align-center'>
            <div class='full-width margin-5'>{{ 'Day'|trans }}</div>
            <div class='full-width margin-5'>{{ 'Time from'|trans }}</div>
            <div class='full-width margin-5'>{{ 'Time to'|trans }}</div>
            <div class='full-width margin-5'>{{ 'Time from'|trans }}</div>
            <div class='full-width margin-5'>{{ 'Time to'|trans }}</div>
        </div>

        {% for openingHour in form %}
            <div class='flex-align-center'>
                <div class='full-width margin-5'>{{ dayNames[openingHour.vars.value.dayOfWeek - 1] }}</div>
                <div class='full-width margin-5'>{{ form_widget(openingHour.firstOpeningTime) }}</div>
                <div class='full-width margin-5'>{{ form_widget(openingHour.firstClosingTime) }}</div>
                <div class='full-width margin-5'>{{ form_widget(openingHour.secondOpeningTime) }}</div>
                <div class='full-width margin-5'>{{ form_widget(openingHour.secondClosingTime) }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock _store_form_openingHours_widget %}

{% block _store_form_openingHours_label %}
    <label class="form-line__label">
        {{ label }}
        <i class="svg svg-info in-icon cursor-help form-line__item form-line__item--info js-tooltip"
           data-toggle="tooltip" data-placement="bottom"
           title="{{ 'Enter in the store local time'|trans }}"
        ></i>
    </label>
{% endblock _store_form_openingHours_label %}
