{% extends '@ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Blog articles'|trans }}{% endblock %}
{% block h1 %}{{ 'Blog articles'|trans }}{% endblock %}

{% block btn %}
    <div class="wrap-bar">
        <a href="{{ url('admin_blogarticle_new') }}" class="btn btn--plus wrap-bar__btn">
            <i class="btn__icon">+</i>{{ 'Create new blog article'|trans }}
        </a>
    </div>
{% endblock %}

{% block main_content %}
    {{ render(controller('Shopsys\\FrameworkBundle\\Controller\\Admin\\DomainFilterController::domainFilterTabsAction', { namespace: domainFilterNamespace })) }}

    {{ gridView.render() }}
{% endblock %}
