{% extends '@ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled problémů v přenosech'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled problémů v přenosech'|trans }}{% endblock %}

{% block btn %}
    <a href="{{ url('admin_default_dashboard') }}" class="btn wrap-bar__btn">
        {{ 'Zpět na nástěnku'|trans }}
    </a>
{% endblock %}

{% block main_content %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group wrap-border">
        <div class="form-group__title">
            {{ 'Hledání v přenosech'|trans }}
        </div>

        {{ form_row(form.transfer, { label: 'Typ přenosu'|trans }) }}
        <div class="text-right margin-top-10">
            {{ form_widget(form.submit, { label: 'Vyhledat'|trans }) }}
        </div>
    </div>

    {{ form_end(form) }}

    {{ gridView.render() }}
{% endblock %}
