<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        <link rel="shortcut icon" href="{{ asset('public/frontend/images/favicons/favicon.ico') }}">
        {% block meta_robots %}{% endblock %}

        {% set entryDirectory = 'frontend-style-' ~ getDomain().currentDomainConfig.stylesDirectory %}
        {{ encore_entry_link_tags( entryDirectory ) }}
        {% set entryDirectoryPrint = 'frontend-print-style-' ~ getDomain().currentDomainConfig.stylesDirectory %}
        {{ encore_entry_link_tags( entryDirectoryPrint ) }}

        {{ render(controller('App\\Controller\\Front\\HeurekaController:embedWidgetAction')) }}
        {{ encore_entry_script_tags('frontend') }}
        {% block javascripts %}{% endblock %}

        <title>{% block title %}Shopsys Framework{% endblock %} {{ getSeoTitleAddOn() }}</title>
    </head>

    <body class="web">

        {{ getAllPagesBeforeContentScripts()|raw }}
        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesGoogleAnalyticsScriptAction')) }}

        {% block html_body %}{% endblock %}

        {% block javascripts_bottom %}{% endblock %}
        {{ getAllPagesAfterContentScripts()|raw }}

        {{ js_validator_config() }}
        {{ init_js_validation() }}

        {% if app.environment is same as('dev') %}
            <script async src="//localhost:35729/livereload.js"></script>
        {% endif %}
    </body>
</html>
