<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        {% block meta_robots %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/styles/index' ~ getDomain().id ~ '_' ~ getCssVersion() ~ '.css') }}" media="screen, projection">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/styles/print' ~ getDomain().id ~ '_' ~ getCssVersion() ~ '.css') }}" media="print">

        {{ importJavascripts([
            'bundles/fpjsformvalidator/js/fp_js_validator.js'
        ]) }}

        {{ js_validator_config() }}
        {{ init_js_validation() }}

        {{ render(controller('App\\Controller\\Front\\HeurekaController:embedWidgetAction')) }}

        {% block javascripts %}{% endblock %}

        <title>{% block title %}Shopsys Framework{% endblock %} {{ getSeoTitleAddOn() }}</title>
    </head>

    <body class="web">

        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesScriptsAction')) }}
        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesGoogleAnalyticsScriptAction')) }}

        {% block html_body %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts_bottom %}{% endblock %}
    </body>
</html>
