{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order [noun]'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    {% include 'Front/Inline/OrderProgress/index.html.twig' with {step: flow.getCurrentStepNumber()} only %}

    {{ form_start(form, { attr: { id: "js-order-form", 'data-ajax-save-url': url('front_order_save_form') }}) }}
        {{ form_errors(form) }}
        {% include 'Front/Content/Order/step' ~ flow.getCurrentStepNumber() ~ '.html.twig' %}
    {{ form_end(form) }}

    <span class="js-payment-transport-relations" data-relations="{{ paymentTransportRelations }}"></span>
{% endblock %}
